{% extends '::layout.html.twig' %}

{% block title 'login.title'|trans %}

{% block header_title %}<a>{{ 'login.title'|trans }}</a>{% endblock %}

{% block prev_title %}<a href="{{ path('homepage') }}">{{ sitename }}</a>{% endblock %}

{% block page %}
    <div class="text-center">
        <br/><br/><br/><br/>
        <p>Register with your account</p><br>
        {% embed ':Connect:login_block.html.twig' %}{% endembed %}
    </div>
{% endblock %}