{% if object.status == constant('AppBundle\\Entity\\MessageComplaint::STATUS_OPEN') %}
    <a href="{{ admin.generateObjectUrl('reject', object) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_reject_complaint'|trans }}">
        <i class="glyphicon glyphicon-registration-mark"></i>
        {{ 'action_reject_complaint'|trans }}
    </a>
{% endif %}

