# Created by .ignore support plugin (hsz.mobi)
.idea
web/bundles/*
/vendor
app/cache/dev
app/cache/prod
app/logs/*.log
app/bootstrap.php.cache
app/config/parameters.yml
web/uploads/photo/*
!web/uploads/photo/.gitkeep
web/uploads/messages/*
!web/uploads/messages/.gitkeep
web/media/cache/*
!web/media/cache/.gitkeep
/src/Acme
/web/css/compiled
/web/js/compiled
*.php~
