# Created by .ignore support plugin (hsz.mobi)
.idea
web/bundles/*
/vendor
app/cache/dev
app/cache/prod
app/logs/*.log
app/bootstrap.php.cache
app/config/parameters.yml
!web/uploads/photo/.gitkeep
web/uploads/photo/*
