<div class="col-sm-4 col-md-3 col-xs-4 col-lg-2 model-item">
    <div class="thumbnail">
        <a href="{{ path('user_show', {"user_id": model.id}) }}">
            {% if model.online %}
                <span class="user-status user-status-online"></span>
            {% endif %}
            <div class="img-wrapper">
                <img src="{% if model.hasThumbnail %}{{ vich_uploader_asset(model.thumbnail, 'file', 'AppBundle\\Entity\\UserPhoto') | imagine_filter('search_user_photo_small') }}{% endif %}"
                     alt="{{ model.fullName }}">
            </div>
        </a>
    </div>
</div>