# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            asdfp89syfph9m89w4wryfwpa7nt3r

    # OAuth params
    oauth.facebook.client_id:       792240200829885
    oauth.facebook.client_secret:   c953e5345d798e15125cacfe7ce28b2e

    oauth.twitter.client_id:        jPKFaTQ2VrVbSlqevUyCexLWt
    oauth.twitter.client_secret:    AedEovsD1jl5N2qbCG8rytuRs5DTaIoUi8kSwTgwujBs8Irqeo

#    oauth.vkontakte.client_id:      4799749
#    oauth.vkontakte.client_secret:  LYZb88H1UnVfHqwfI5VR

#    oauth.google.client_id:         "884605711360-r0j382be6rtnh44qjias4m3k1q3rvp4f.apps.googleusercontent.com"
#    oauth.google.client_secret:     1jxMZnPfrquRVv4uxFavPvbO

#    oauth.github.client_id:         3b5ba3b3e9ea992aa7cb
#    oauth.github.client_secret:     a1ae774bd4f6a309ce7dd73707dc5f14e5b48e9d

    payment.minute_rate:            2
    payment.model_share:            0.7

    website_robot_email: robot@kukik.co
    website: http://kukik.co

    chat.first_messages_limit:      2   # The number of messages from a model after which a client must pay for the chatting
    user.online_status.update_probability:  0.01

    socket_io.host:                 "http://192.168.1.206:4397"

    hwi_oauth.firewall_name:        secured_area

