payment:
    resource: "@PaymentBundle/Controller/"
    type:     annotation
    prefix:   /

user_photo:
    pattern: /uploads/photo/{file_name}

hwi_oauth_register_custom:
    pattern: /login/registration/{key}
    defaults: {_controller: AppBundle:Connect:registration}

#hwi_oauth_login_custom:
#    pattern: /login/{service}
#    defaults: {_controller: AppBundle:Connect:redirectToService}

hwi_oauth_service_redirect:
    pattern: /connect/{service}
    defaults: {_controller: AppBundle:Connect:redirectToService}

hwi_oauth_connect:
    pattern: /login/
    defaults: {_controller: AppBundle:Connect:connect}

#hwi_oauth_redirect:
#    resource: "@HWIOAuthBundle/Resources/config/routing/redirect.xml"
#    prefix:   /connect

#hwi_oauth_login:
#    resource: "@HWIOAuthBundle/Resources/config/routing/login.xml"
#    prefix:   /login

hwi_oauth_register:
    resource: "@HWIOAuthBundle/Resources/config/routing/connect.xml"
    prefix:   /login

facebook_login:
    pattern: /login/check-facebook

#vkontakte_login:
#    pattern: /login/check-vkontakte

twitter_login:
    pattern: /login/check-twitter

#google_login:
#    pattern: /login/check-google
#
#github_login:
#    pattern: /login/check-github

#custom_login:
#    pattern: /login/check-custom

sonata_user_security:
    resource: "@SonataUserBundle/Resources/config/routing/sonata_security_2.xml"

sonata_user_resetting:
    resource: "@SonataUserBundle/Resources/config/routing/sonata_resetting_2.xml"
    prefix: /resetting

user_profile_show:
    pattern: /profile/
    defaults: {_controller: AppBundle:Profile:show}

sonata_user_profile:
    resource: "@SonataUserBundle/Resources/config/routing/sonata_profile_2.xml"
    prefix: /profile

#sonata_user_register:
#    resource: "@SonataUserBundle/Resources/config/routing/sonata_registration_2.xml"
#    prefix: /register
#
#sonata_user_change_password:
#    resource: "@SonataUserBundle/Resources/config/routing/sonata_change_password_2.xml"
#    prefix: /profile

#fos_user_group:
#    resource: "@FOSUserBundle/Resources/config/routing/group.xml"
#    prefix: /group

fos_js_routing:
    resource: "@FOSJsRoutingBundle/Resources/config/routing/routing.xml"

_liip_imagine:
    resource: "@LiipImagineBundle/Resources/config/routing.xml"

admin:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
    prefix: /admin

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix: /admin

sonata_user:
    resource: '@SonataUserBundle/Resources/config/routing/admin_security.xml'
    prefix: /admin

sonata_user_admin_resetting:
    resource: '@SonataUserBundle/Resources/config/routing/admin_resetting.xml'
    prefix: /admin/resetting

api:
    resource:   rest_routes.yml
    prefix:     /api/v1

app:
    resource:   @AppBundle/Controller/
    type:       annotation

NelmioApiDocBundle:
    resource: "@NelmioApiDocBundle/Resources/config/routing.yml"
    prefix:   /api/doc

payum_capture:
    resource: "@PayumBundle/Resources/config/routing/capture.xml"

payum_authorize:
    resource: "@PayumBundle/Resources/config/routing/authorize.xml"

payum_notify:
    resource: "@PayumBundle/Resources/config/routing/notify.xml"