body {
    padding-top: 50px;
}
.main-content {
    min-height: 500px;
}

.registration-photo {
    max-width: 360px;
    max-height: 480px;
}

.navbar-inverse label {
    color: #fff;
}

.search-bar .form-group {
    margin-right: 15px;
}

.search-results .thumbnail .img-wrapper {
    display: inline-block;
    width: 348px;
    height: 348px;
    max-width: 100%;
    text-align: center;
    line-height: 348px;
}

.search-results .thumbnail .img-wrapper img {
    max-width: 100%;
}

.navbar .user-photo-link {
    padding: 0 20px;
    height: 10px;
    position: relative;
}

.navbar .user-photo-link img {
    height: 32px;
    width: 32px;
    position: absolute;
    left: 0;
    top: -5px;
}

/* CHAT */

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    padding: 10px;

    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}
.chat li .chat-body .primary-font a {
	color: #999999;
}
.chat li .chat-body .primary-font  .text-muted{
	font-size: 0.8em;
}

.chat .panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.chat .panel-body
{
    overflow-y: scroll;
    height: 250px;
}

.chat ::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.chat ::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.chat ::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.chat-friends h3 {
    margin-top: 0;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
}
.chat-widget {
	border: 0;
	box-shadow: none;
}
.chat-widget .chat-messages {
    /*max-height: 500px;*/
    /*overflow: scroll;*/
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    padding: 5px;
}

.chat li.no-messages {
    border-bottom-style: none;
}

.chat-friends .friend-list {
    padding-left: 0;
    margin-bottom: 0;
}

.chat-friends .friend-list li {
    list-style: none;
    margin-bottom: 30px;
}

.chat-friends .friend-list .photo {
    display: block;
    width: 96px;
    height: 96px;
    text-align: center;
    float: left;
}

.chat-friends .friend-list .photo img {
    max-width: 96px;
    max-height: 96px;
}

.chat-friends .friend-list .description {
    display: block;
    margin-left: 130px;
    font-size: 150%;
    color: black;
    margin-top: 10px;
}

.chat-friends .friend-list a:hover {
    text-decoration: none;
}

.chat .message-avatar {
    width: 50px;
    height: 50px;
}

/** PROFILE PHOTOS **/

.add-photo-form .vich-image {
    display: inline-block;
}

.add-photo-form .form-group {
    display: block;
}

.add-photo-form .photo-title {
    width: 40%;
}

.add-photo-block {
    margin-bottom: 30px;
}

.user-photos .thumbnail {
    height: 238px;
    text-align: center;
}

.user-photos .thumbnail .caption {
    white-space: nowrap;
    overflow: hidden;
}

.user-photos .thumbnail .img-wrapper {
    text-align: center;
    width: 100%;
    height: 196px;
    line-height: 196px;
    max-width: 100%;
}

.user-photos .thumbnail img {
    max-width: 100%;
}

.footer {
    padding-top: 30px;
}

.blueimp-gallery > .indicator > li {
    width: 32px;
    height: 32px;
}

.profile-form .vich-image img {
    max-width: 320px;
}

.user-profile-block .user-photo {
    max-width: 320px;
}

.chat-widget .message-input {
    resize: vertical;
    max-height: 200px;
    min-height: 3em;
}

.pale {
    opacity: 0.5;
}

.emoticons {
    /*width: 738px;*/
    max-height: 250px;
    overflow-y: auto;
}

.emoticon-popover {
    /*width: 768px;*/
    max-width: 768px;
}

.search-bar .name-field {
    width: 300px;
    max-width: 100%;
}

.alert-sonata_user_error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}
.alert-sonata_user_error hr {
    border-top-color: #e6c1c7;
}
.alert-sonata_user_error .alert-link {
    color: #953b39;
}

.stat-table tfoot {
    font-weight: bold;
}

.search-results .model-item {
    position: relative;
}

.user-status {
    position: absolute;
    right: 30px;
    top: 20px;
    background: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.user-status-online {
    border: green;
    background: #46ee44;
}

.chat-widget .uploadify-form {
    display: inline-block;
    margin-left: 15px;
}

.chat-widget .uploadify-form .uploadify,
.chat-widget .uploadify-form .uploadify-queue {
    margin-bottom: 0;
}

.chat-actions .js-emoticon-invocation-link {
    vertical-align: 3px;
}

.chat-actions {
    margin-bottom: 1em;
    padding-top: 1em;
    vertical-align: top;
}

.chat-widget .image-message {
    padding-top: 15px;
}

.chat-widget .image-message a img {
    max-width: 100%;
    width: 252px;
}

@media screen and (max-width: 640px) {
    .chat-widget .image-message a img {
        width: 196px;
        /*height: 152px;*/
    }
}

.chat-friends .friends-container {
    /*max-height: 500px;*/
    /*overflow-y: auto;*/
    padding-top: 30px;
}

.chat-widget .message {
    -webkit-transition-duration: 2s; /* Safari */
    transition-duration: 2s;
    transition-property: background-color;
}

.chat-widget .message.unseen {
    background-color: #cdf8ca;
}

.chat-friends .photo {
    position: relative;
}

.chat-friends .photo .user-status {
    left: 5px;
    bottom: 5px;
    right: auto;
    top: auto;

}

.chat-friends .unread-messages-label {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#fos_user_profile_form .vich-image img {
    max-width: 100%;
}

.user-photo-thumbnail .remove-link {
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 25px;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 1.3em;
    display: none;
}

.user-photo:hover .user-photo-thumbnail .remove-link {
    display: block;
}

.user-photo-thumbnail .remove-link i {
    color: red;
}

.chat-widget .previous-messages-block .ajax-loader {
    margin-left: 10px;
}

.chat-widget .message-actions {
    display: none;
}

.chat-widget .message-actions .action-link {
    padding-right: 0;
    padding-left: 15px;
}

.chat-widget .message-actions.pull-right .action-link {
    padding-right: 15px;
    padding-left: 0;
}

.chat-widget .message:hover .message-actions {
    display: inline;
}

.chat-widget .message.complained {
    background-color: #ffeeee;
}

.chat-widget .message.deleted {
    background-color: #f0f0f0;
    opacity: 0.5;
}

.chat-widget .message.complained .notice {
    font-weight: bold;
    padding-top: 10px;
}

.chat-widget .message.complained .notice.notice-warning {
    color: darkred;
}

.chat-widget .message.complained .notice.notice-success {
    color: darkgreen;
}

.payment-page {
    padding-top: 30px;
}

.payment-page .variant-field {
    padding-top: 6px;
}

.payment-form .form-buttons {
    margin-top: 20px;
    text-align: right;
}

.payment-form .variant-row {
    margin-bottom: 30px;
}

.payment-form .alert {
    list-style-type: none;
}

.payment-form .custom-value {
    width: 20%;
    display: inline-block;
}

.payment-form .variant-field .radio {
    display: inline-block;
}

b.large {
    font-size: 150%;
}

.login-container .btn {
    margin-right: 10px;
    margin-left: 10px;
}

.login-container .btn-login-facebook {
    color: white;
    background: #0000bb linear-gradient(rgba(0, 0, 187, 0.87), rgba(0, 0, 226, 0.83) 6%, rgba(0, 0, 255, 0.81));
}

.login-container .btn-login-twitter {
    color: white;
    background: #5ed7e6 linear-gradient(rgb(89, 184, 202), rgba(94, 215, 230, 1) 6%, rgba(104, 239, 255, 0.81));
}

.nav-left-block {
    padding-left: 15px;
}

.nav-right-block {
    padding-right: 15px;
}

.navbar-text {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-title {
    font-weight: bold;
    /*float: none !important;*/
}

.navbar-title-menu {
    /*float: none !important;*/
}

.navbar-center {
    margin: 5px auto 0;
    width: 40%;
    text-align: center;
    white-space: nowrap;
}

.navbar-toggle {
    margin-top: 7px;
    margin-right: 0;
}

.page_title {
    overflow: hidden;
    visibility: hidden;
    height: 0px;
}

@media (min-width: 768px) {
    .navbar-center {
        margin-top: 0;
    }

    .navbar-title-menu {
        display: none;
    }

    .nav-left-block {
        padding-left: 0;
    }

    .nav-right-block {
        padding-right: 0;
    }

    .page_title {
        visibility: visible;
        height: auto;
    }

    .small-screen-block.collapse,
    .small-screen-block {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .large-screen-block.collapse,
    .large-screen-block {
        display: none !important;
    }

    .first-in-row-item {
        width: 40%;
        margin-right: 0;
        display: inline-block !important;
    }

    .second-menu-item {
        width: 50%;
        display: inline-block !important;
    }
}

.navbar-center .nav {
    margin-top: 0;
}

.navbar-center ul {
    margin-top: 0;
    margin-bottom: 0;
}

.model-list .model-item {
    position: relative
}

.model-list .thumbnail {
    border: 0 none;
}

.model-list .thumbnail .img-wrapper {
    display: inline-block;
    width: 128px;
    height: 128px;
    max-width: 100%;
    text-align: center;
    line-height: 128px;
    float: left;
}

.model-list .thumbnail .img-wrapper img {
    max-width: 100%;
}

.model-list .user-status {
    right: auto;
    left: 30px;
}

.model-list .caption {
    margin-left: 160px;
    margin-top: 0;
}

.model-list-online {
    margin-bottom: 4em;
}

.model-list a:hover {
    color: black;
}

.hidden-on-start {
    display: none;
}