services:
#    sonata.admin.post:
#        class: Acme\DemoBundle\Admin\PostAdmin
#        tags:
#            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Post" }
#        arguments:
#            - ~
#            - Acme\DemoBundle\Entity\Post
#            - ~
#        calls:
#            - [ setTranslationDomain, [AcmeDemoBundle]]
    app.admin.model_request:
        class: AppBundle\Admin\ModelRequestAdmin
        arguments: [~, AppBundle\Entity\ModelRequest, AppBundle:ModelRequestAdmin]
        tags:
            - {name: sonata.admin, manager_type: orm, group: Chat, label: ModelRequests}

    app.admin.emoticon:
        class: AppBundle\Admin\EmoticonAdmin
        arguments: [~, AppBundle\Entity\Emoticon, SonataAdminBundle:CRUD]
        tags:
            - {name: sonata.admin, manager_type: orm, group: Chat, label: Emoticon}
