services:
#    sonata.admin.post:
#        class: Acme\DemoBundle\Admin\PostAdmin
#        tags:
#            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Post" }
#        arguments:
#            - ~
#            - Acme\DemoBundle\Entity\Post
#            - ~
#        calls:
#            - [ setTranslationDomain, [AcmeDemoBundle]]
    app.admin.conversation:
        class: AppBundle\Admin\ConversationAdmin
        arguments: [~, AppBundle\Entity\Conversation, ~]
        tags:
            - {name: sonata.admin, manager_type: orm, group: Chat, label: Conversations}

#    app.admin.model_request:
#        class: AppBundle\Admin\ModelRequestAdmin
#        arguments: [~, AppBundle\Entity\ModelRequest, AppBundle:ModelRequestAdmin]
#        tags:
#            - {name: sonata.admin, manager_type: orm, group: Chat, label: 'Model Requests'}
#        calls:
#            - [setTemplate, [edit, :ModelRequestAdmin:edit.html.twig]]

    app.admin.emoticon:
        class: AppBundle\Admin\EmoticonAdmin
        arguments: [~, AppBundle\Entity\Emoticon, SonataAdminBundle:CRUD]
        tags:
            - {name: sonata.admin, manager_type: orm, group: Chat, label: Emoticons}

    app.admin.models:
        class: AppBundle\Admin\ModelAdmin
        arguments: [~, AppBundle\Entity\User, AppBundle:ModelAdmin]
        tags:
            - {name: sonata.admin, manager_type: orm, group: Chat, label: Models}
        calls:
            - [setTemplate, [list, SonataUserBundle:UserAdmin:list.html.twig]]
            - [setTemplate, [edit, SonataUserBundle:UserAdmin:edit.html.twig]]
            - [setTranslationDomain, [SonataUserBundle]]

    app.admin.clients:
        class: AppBundle\Admin\ClientAdmin
        arguments: [~, AppBundle\Entity\User, AppBundle:ClientAdmin]
        tags:
            - {name: sonata.admin, manager_type: orm, group: Chat, label: Clients}
        calls:
            - [setTemplate, [list, SonataUserBundle:UserAdmin:list.html.twig]]
            - [setTemplate, [edit, SonataUserBundle:UserAdmin:edit.html.twig]]
            - [setTranslationDomain, [SonataUserBundle]]
