parameters:
    app.registration.form.class: AppBundle\Form\Type\RegistrationFormType
    app.profile.form.class: AppBundle\Form\Type\ProfileFormType

services:
    app.menu_builder:
        class: AppBundle\Menu\MenuBuilder
        arguments: ["@knp_menu.factory"]
        calls:
            - [setContainer, ["@service_container"]]

    app.menu.main:
        class: Knp\Menu\MenuItem # the service definition requires setting the class
        factory_service: app.menu_builder
        factory_method: createMainMenu
        arguments: ["@request"]
        scope: request # needed as we have the request as a dependency here
        tags:
            - { name: knp_menu.menu, alias: main } # The alias is what is used to retrieve the menu

    app.registration.form.type:
        class: %app.registration.form.class%
        arguments:
            - %fos_user.model.user.class%
            - @fos_user.user_manager
        tags:
            - {name: form.type, alias: user_registration}

    app.profile.form.type:
        class: %app.profile.form.class%
        arguments:
            - %fos_user.model.user.class%
            - @fos_user.user_manager
        tags:
            - {name: form.type, alias: user_profile}

    app.conversation:
        class: AppBundle\Conversation\ConversationService

    app.request_access_evaluator:
        class: AppBundle\Security\RequestAccessEvaluator
        calls:
            - [setContainer, ["@service_container"]]

