{%- set currentUser = currentUser is defined and currentUser is not null ? currentUser : app.user -%}
{%- set imageType = imageType is defined and imageType != '' ? imageType : 'user_photo_big' -%}
<p class="image-message"><a href="{{ vich_uploader_asset(message, 'imageFile', 'AppBundle\\Entity\\ImageMessage')|imagine_filter('user_photo_big') }}"
        class="{% if message.author != currentUser %}pull-right{% endif %}"
        data-gallery><img alt="" class="img-rounded"
        src="{{ vich_uploader_asset(message, 'imageFile', 'AppBundle\\Entity\\ImageMessage')|imagine_filter(imageType) }}" /></a>
</p>