{% block hwi_oauth_content %}
    {% if error is defined and error %}
        <span class="alert alert-danger">{{ error }}</span>  <br/><br/><br/>
    {% endif %}
    <div class="login-container">
        {% for owner in hwi_oauth_resource_owners() %}
            <a class="btn btn-login-{{ owner | trans({}, 'HWIOAuthBundle') }}" href="{{ hwi_oauth_login_url(owner) }}">{{ owner | trans({}, 'HWIOAuthBundle') }}</a>
        {% endfor %}
    </div>
{% endblock hwi_oauth_content %}
