{% extends '::layout.html.twig' %}

{% block title 'search'|trans %}
{% block page_title_text %}{{ 'search'|trans }}{% endblock %}

{% block page %}
    {{ parent() }}
    {% include ':Search:_search_form.html.twig' %}

    <div class="row">
        <div class="col-lg-12">
            {% if models is defined %}
                {% for model in models %}
                    {{ model.firstName }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}