{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}

{% block actions %}
    {{ parent() }}
    {#{% spaceless %}
        <li>{{ include(':Core:create_user_type_button.html.twig', {'userType': 'model'}) }}</li>
        <li>{{ include(':Core:create_user_type_button.html.twig', {'userType': 'client'}) }}</li>
    {% endspaceless %}#}
{% endblock %}